/*------------------------------NAV BAR */

/* Custom styles for the hamburger menu */


#navbarNav {
  place-content: center;  
}

.navbar-nav {
    gap: 120px;
}

.navbar-toggler {
    border: none; /* Remove border */
    outline: none; /* Remove outline */
}
  
.navbar-toggler-icon {
    background: url('path/to/your-custom-icon.png') center center no-repeat; /* Replace with your custom icon */
    width: 30px; /* Adjust the width of the custom icon */
    height: 24px; /* Adjust the height of the custom icon */
}

.nav-link h1{
    margin-top: 35px;
    margin-left: 15px;
    color: white;
    font-family: Montserrat,sans-serif;
    font-weight: 300;               
    font-size: 14px;    
    text-transform: uppercase;
    letter-spacing: 2px; 
}
  
.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    color: #fafafa; /* Customize link color */
    transition: color 0.3s ease;
}
  
.hover-underline-animation { /* Nav animation */
    display: inline-block;
    position: relative;
    color: #fafafa;
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fafafa;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
 }

.navbar-collapse  {
    justify-content: flex-end; /* Align menu items to the right */
}
  
.logo {
    height: 115px;
    width: 200px;
}


/* ------------------------------MAIN PAGE */

.align-items-start {
    background-color: #454545;
    line-height: 1.6em;
}

.main-header {
    font-family: Alex Brush;
    color: #3d3d3d;
    font-size: 30px;
    font-style: italic;
}

.base-content {
    font-family: Montserrat,sans-serif;
    color: #3d3d3d;
    font-size: 16px;
    font-style: normal;
    text-align: left;
}

img.kavita{
    width: 120px;
    float: left;
    background: #fbf7fc;
    margin: 10px 15px 10px 0;
}

.opening-times {
    padding-top: 10px;
    font-family: Alex Brush;
    color: #3d3d3d;
    font-size: 15px;
    font-style: italic;
    line-height: 0.5em;
    background-color: rgb(220, 210, 210);
    height: 170px;
}

.offers{
    font-family: Alex Brush;
    color: #3d3d3d;
    font-size: 15px;
    font-style: italic;
    background-color: rgb(220, 210, 210);
    justify-content: center;  
}

.supplier-logo {
    width: 10%;
    height: 5%;
    margin: 10px;
}

.logos {
    justify-content: center;
}

.tlist {
    color: rgb(19, 3, 66);
}


/* ------------------------------CONTACT FORM */

.contact-page {
    width: 100% !important;
    margin: 0 0 0 0;
    background-color: #fbf7fc;
}


.container {
  background: #fafafa;
  height: 650px;
 
}

.container .map {
  width: 45%;
  float: left;
  margin-top: 35px;
  
}

.container .contact-form {
  width: 53%;
  margin-left: 2%;
  float: left;
}

.container .contact-form .title {
    font-family: Alex Brush;
    color: #3d3d3d;
    font-size: 40px;
    font-style: italic;
    margin: 5% 8%;
}

.container .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
}

.container .contact-form input,
.container .contact-form textarea {
  width: 330px;
  padding: 3%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
}

.container .contact-form input::placeholder,
.container .contact-form textarea::placeholder {
  color: #242424;
  font-style: italic;
}

.container .contact-form .btn-send {
  background: #2b2a2a;
  width: 180px;
  height: 60px;
  color: #FFFFFF;
  font-weight: 700;
  font-style: italic;
  margin: 2% 8%;
  border-color: black;
  border-radius: 5px;
  
}
.map iframe {
    height: 530px;
    width: 100%;
    }




/* ------------------------------TREATMENT PAGE */

.treatment-page {
    background: #fbf7fc;
    justify-content: center;
}

.pricelist-header {
    font-family: Alex Brush;
    color: #3d3d3d;
    font-size: 30px;
    font-style: italic;
    margin-left: 300px;
    padding-top: 10px;
}

.pricelist {
    margin-left: 100px;
    background-color: rgb(220, 210, 210);
}

.treatments-table{
    font-family: Alex Brush;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 5px;
    
}

.table-row{
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    border-color: transparent !important; 
}

.treatments-photo {
    width: 200px;
    height: 160px;
}


/* ------------------------------TREATMENT PAGE OFFER CARD */

.offer{
    padding-top: 20px;
    margin-left: 10px;
}

.offer-card {
    background-color: rgb(220, 210, 210);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: Alex Brush;
}

.offer-card h2 {
    color: black;
}

.offer-card p {
    color: black;
    margin-bottom: 0;
}

.offer-photo {
    width: 240px;
    height: 205px;
    margin-left: 85px;
    border-radius: 10px;
}


/* ------------------------------GALLERY */

.gallery {
    margin-top: 15px;
}


/* ------------------------------FOOTER */

footer {
    background-color: #2b2a2a;
    width: 100%;
    position: relative;  
}

.footer-details {
    background-color: #2b2a2a;
    width: 100%
}

.footer-nav {
    margin-top: 10px;
    margin-bottom: 10px;
    color: orange;
    font-family: Montserrat,sans-serif;
    font-size: 14px; 
    font-weight: 700;         
    text-transform: uppercase;
    letter-spacing: 2px; 
    text-align: center;
}

.fmenu {
    margin-top: 1px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fafafa;
    text-align: center;
    justify-content: center;  
}

.social-links {
   margin-top: 10px;
   font-size: 20px;
   color:#fafafa;
}

.fa {
    color: #fafafa;
    margin: 0;
}

.fa:hover {
    color:#fafafa;
}

.contact {
    margin-top: 23px;
}

.logo-footer {
    margin-top:50px;
}


/* ----------------------------------------Media Queries */

@media(max-width: 994px) {
    
    .nav-link {
        margin-top: 5px;
        margin-left: 15px;
    }

    .nav {
        margin-left: 25px;
    }
 
    .navbar-nav {
        gap: 1px;
    }

    .navbar-toggler-icon {
        color:rgb(220, 210, 210);
    }

    .logo {
        display: none;
    }

    .main-header{
        min-width: 100%;
        margin-left: 10px;
    }

    .logos {
        margin-left: 10px;
    }

    .supplier-logo {
        padding-left: 10px;
        justify-content: center;
    }

    .pricelist-header{
        min-width: 100%;
        margin-left: 10px;
        text-align: center;
    }

    .treatments-table {
        font-family: Alex Brush;
        margin-left: 10px;
    }
    .treatments-photo {
        display: none;
    }

    .offer-photo {
        display: none;
    }

    .container .contact-form input {
        width: 120px;
    }

    .container .contact-form textarea {
        width: 120px;
    }

    .container .contact-form .btn-send {
        width: 120px;
    }

    .container .map {
        margin-top: 15px;
    }
    .offer-card {
        margin-left: 0px;
    }
}